<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ToDo</title>
    <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">
    <th:block th:include="blocks/nav :: div"/>
    <h4>Все задания пользователя <span th:text="${user.userName}"></span></h4>
    <div class="row">
            <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Содержание</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Состояние</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${items}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:href="@{|/itemDetails/${item.id}|}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <span th:text="${item.name}"></span>
                </td>
                <td th:text="${item.description}"></td>
                <td th:text="${#dates.format(item.created, 'dd.MM.yyyy')}"></td>
                <td>
                    <span th:text="${item.isDone} ? 'Завершено' : 'Не завершено'"></span>
                </td>
            </tr>
            </tbody>
            </table>
    </div>
</div>
</body>
</html>